@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:wght@300;400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    font-family: "Poppins",sans-serif;
    text-transform: uppercase;
    line-height: 26px;
    font-size: 17px;
    box-shadow: 0 7px 9px -9px;
    border-bottom: solid gray !important;
}

.nav-link{
    font-weight: 400 !important;
}

.active{
    border-bottom: 2px solid black;
}

.navbar-brand{
    font-weight: 700;
    margin-left: 1rem;
}
/* Page not found */
.pnf{
    display: flex;
    min-height: 65vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pnf-title{
    font-size: 100px;
    font-weight: 700;
}

.pnf-heading{
    font-weight: normal;
}

.pnf-btn{
    text-decoration: none;
    padding: 10px;
    border: solid 1px black;
    color: black;
    margin-top: 10px;
}

/* Footer */
.footer{
    color: white;
    padding: 15px;
    background: #000000;
    background: -webkit-linear-gradient(
        to right,
        #434343
        #000000
    );
    background: linear-gradient(to right, #434343 #000000);
}

.footer a{
    text-decoration: none;
    color: white;
    padding: 10px;
}

.footer a:hover{
    color: #ffefba;
    border-bottom: 1px solid #ffefba;
}

/* About */

.container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding-top: 2rem;
}

.content{
    font-size: large;
}

/* contact page */

.contact-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    margin: 2rem;
    padding-top: 3rem;
}

.contact-container .heading{
    background: #000;
    color: white;
    width: 500px;
    padding: 10px 50px 20px;
    font-size:x-large;
    font-weight: 600;
}
.contact-container a{
    text-decoration: none;
}

.contact-content{
    width: 93%;
    font-size: large;
}

.privacy-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    margin: 2rem;
    padding-top: 3rem;
}
/* =========== Register page ======================================= */
.register{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 70vh;
}

.form-group{
    margin-bottom: 9px;
}

html, body {
    overflow-x: hidden; /* Disables horizontal scrolling */
  }